*.log
/.coverage
/.history/
/.idea/
/.vs/
/.vscode/
/README.pdf
/True
/coverage.xml
/data/
/docs/*.pdf
/site/
/src/dcr/*/__pycache__/
/src/dcr/__pycache__/
/tests/__pycache__/
/tests/inbox/*.bmp
/tests/inbox/*.csv
/tests/inbox/*.doc
/tests/inbox/*.docx
/tests/inbox/*.epub
/tests/inbox/*.gif
/tests/inbox/*.htm
/tests/inbox/*.html
/tests/inbox/*.jp2
/tests/inbox/*.jpeg
/tests/inbox/*.jpg
/tests/inbox/*.odt
/tests/inbox/*.pdf
/tests/inbox/*.png
/tests/inbox/*.pnm
/tests/inbox/*.rst
/tests/inbox/*.rtf
/tests/inbox/*.tiff
/tests/inbox/*.txt
/tests/inbox/*.webp
/tests/inbox/*.xxx
/tests/inbox/html_ok_files/
