[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
SQLAlchemy = "*"
importlib-metadata = "*"
atomicwrites = "*"

[dev-packages]
bandit = "*"
black = "*"
coveralls = "*"
flake8 = "*"
isort = "*"
mccabe = "*"
mkdocs = "*"
mkdocs-material = "*"
MyPy = "*"
pycodestyle = "*"
pydoc-markdown = "*"
pydocstyle = "*"
PyFlakes = "*"
Pylint = "*"
pytest-cov = "*"
pytest-deadfixtures = "*"
pytest-random-order ="*"
PyYAML = "<=6.0.0"
radon = "*"
SQLAlchemy = "*"
sqlalchemy-stubs = "*"
types-PyYAML = "*"
typing-extensions = "*"
