[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyMuPDF = "*"
PyYAML = "*"
SQLAlchemy = "*"
pdf2image = "*"
psycopg2-binary = "*"
pypandoc = "*"
pytesseract = "*"
weasyprint = "*"

[dev-packages]
MyPy = "*"
PyFlakes = "*"
PyMuPDF = "*"
PyYAML = "<=6.0.0"
Pylint = "*"
SQLAlchemy = "*"
bandit = "*"
black = "*"
coveralls = "*"
docformatter = "*"
flake8 = "*"
isort = "*"
mccabe = "*"
mkdocs = "*"
mkdocs-material = "*"
pdf2image = "*"
psycopg2-binary = "*"
pycodestyle = "*"
pydoc-markdown = "*"
pydocstyle = "*"
pypandoc = "*"
pytesseract = "*"
pytest-cov = "*"
pytest-deadfixtures = "*"
pytest-helpers-namespace = "*"
pytest-random-order ="*"
radon = "*"
sqlalchemy-stubs = "*"
sqlalchemy2-stubs = "*"
types-PyYAML = "*"
types-psycopg2 = "*"
typing-extensions = "*"
weasyprint = "*"
