[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
PyYAML = "*"
SQLAlchemy = "*"

[dev-packages]
bandit = "*"
black = "*"
isort = "*"
mccabe = "*"
MyPy = "*"
pdoc3 = "*"
pycodestyle = "*"
pydocstyle = "*"
PyFlakes = "*"
Pylint = "*"
pytest = "*"
radon = "*"
sqlalchemy-stubs = "*"
types-PyYAML = "*"
